body, input, button {
    font: 20px Trebuchet MS, Helvetica, sans-serif;
  }
  
  body {
    height: 100vh;
    margin: 0;
    display: flex;
    background: #f6f6f6;
  }
  
  main {
    display: flex;
  }
  
  main>div {
    margin: auto;
    text-align: center;
  }
  
  main>div>* {
    margin: 20px;
  }
  
  ul {
    text-align: left;
    padding: 0;
    max-height: 100%;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
  }
  
  /* li { */
    /* max-width: 700px; */
    /* margin: 5px 10px;
    border: 1px solid grey; */
  /* } */