
  div {
    margin: auto;
    text-align: center;
  }
  
  div>* {
    margin: 10px;
  }
  
  input {
    text-align: center;
    width: 70%;
  }
  
  .buttons {
    border: 1px solid #999;
    padding: 5px;
    background: #ccc;
  }
  
  .buttons>button {
    margin: 5px;
  }